affine==2.4.0
appdirs==1.4.4
attrs==25.3.0
backoff==2.2.1
cachetools==5.5.2
cdsapi==0.7.6
certifi==2025.1.31
cftime==1.6.4.post1
charset-normalizer==3.4.2
click==8.2.1
click-plugins==1.1.1.2
cligj==0.7.2
dateparser==1.2.2
decorator==5.2.1
distlib==0.3.9
ecmwf-datastores-client==0.2.0
filelock==3.18.0
geopandas==1.1.1
idna==3.10
multiurl==0.3.5
netCDF4==1.7.2
numpy==2.3.1
packaging==24.2
pandas==2.3.1
pipenv==2024.4.1
platformdirs==4.3.7
pooch==1.8.2
pyogrio==0.11.0
pyparsing==3.2.3
pyproj==3.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
rasterio==1.4.3
regex==2024.11.6
regionmask==0.13.0
requests==2.32.4
shapely==2.1.1
shelved-cache==0.3.1
six==1.17.0
tabulate==0.8.10
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
virtualenv==20.30.0
wbdata==1.0.0
xarray==2025.7.1
